@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$black-primary: hsl(0, 0%, 0%);
$white-primary: hsl(0, 0%, 100%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 4rem;
    background-color: $black-primary;
    color: $white-primary;
}

button {
    display: block;
    background-color: $black-primary;
    color: $white-primary;
    border: 0;
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    margin: .6rem auto;
}

button:hover {
    transform: scale(1.2);
    transition: .3s ease-in-out;
}

.input-container {
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.color-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    background-color: $black-primary;
    color: $white-primary;
    width: 200px;
    height: 350px;
    border: 0;
    border-radius: 5px;
}

p {
    font-size: 20px;
    text-align: center;
}

label[for="read"] {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    padding-top: .3rem;
    font-size: 0.8rem;
}

label {
    font-size: 1rem;
}

input:not([type="checkbox"]) {
    display: block;
    width: 120px;
    border: 0;
    border-radius: 10px;
    height: 25px;
    font-size: 10px;
    text-align: center;
    font-size: 1rem;
}


#submit {
    background-color: $white-primary;
    color: $black-primary;
}

#submit:hover {
    transform: scale(1.1);
}

.hide {
    display: none;
}

.show {
    display: flex;
}

.books-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
